@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

body {
    font-family: 'Chivo Mono', monospace;
  }


.user-btn {
    width: 186px;
    margin: 3px;
    padding: 3px;
}

.user-img {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-box {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}