{% extends 'base.html' %}


{% block title %}Add Child Profile{% endblock %}

{% block content%}

<div class="container">
    <img src="{{ user.image }}" alt="{{ user.username }}" width="200px" height="auto">
    <div class="row justify-content-end">
        <div class="col-md-2">
            <div class="float-right">
                {% if g.user.id == user.id %}
                {% if profile %}
                <div class="row">
                    <a class="user-btn btn btn-primary btn-lg" href="/users/{{ user.id }}/profile/edit"
                        role="button">Edit
                        Profile</a>
                </div>
                <div class="row">
                    <a class="user-btn btn btn-success btn-lg" href="/users/{{ user.id }}" role="button">Return</a>
                </div>
                {% endif %}
                {% elif g.user %}
                {% if g.user.is_following(user) %}
                <div class="row">
                    <form method="POST" action="/users/unfollow/{{ user.id }}">
                        <button class="btn btn-danger btn-lg">Stop Following</button>
                    </form>
                </div>
                {% else %}
                <div class="row">
                    <form method="POST" action="/users/follow/{{ user.id }}">
                        <button class="btn btn-primary btn-lg">Follow</button>
                    </form>
                </div>
                {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
    {% if g.user == user %}
    <div class="container">
        <h1 class="display-1">Create Child Profile</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for msg in get_flashed_messages() %}
                <div class="bg-success text-light">{{ msg }}</div>
                {% endfor %}
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {% for field in form
                    if field.widget.input_type != 'hidden' %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field(class="form-control") }}
                        {% for err in field.errors %}
                        <small class="form-text text-danger">
                            {{ err }}
                        </small>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="user-btn btn btn-success btn-large">Go!</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}


</div>


{% endblock %}