{% extends 'base.html' %}


{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content%}

<div class="container">
    {% if profile %}
    <div class="row align-items-start">
        <div class="col-2"><img src="{{ user.image }}" alt="{{ user.username }}" width="200px" height="auto"></div>
        <div class="col-8">
            <h1 class="display-5"><strong>{{ profile.owner }}'s Profile</strong></h1>
            <br>
            {% if no_foods %}
            <p><strong>{{ profile.owner }}'s No Thank You Foods</strong></p>
            <ul class="list-group list-group-flush">
                {% for nf in no_foods %}
                <li class="list-group-item">{{ nf.strip(',') }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if yes_foods %}
            <p class=><strong>{{ profile.owner }}'s Yes Please Foods</strong></p>
            <ul class="list-group list-group-flush">
                {% for yf in yes_foods %}
                <li class="list-group-item">{{ yf.strip(',') }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if profile.diet_id %}
            <p class=><strong>{{ user.username }}'s diet:</strong> {{ profile.diet_name }}</p>
            {% endif %}
            {% if intolerances %}
            <p class=><strong>{{ profile.owner }}'s Intolerances</strong></p>
            <ul class="list-group list-group-flush">
                {% for int in intolerances %}
                <li class="list-group-item">{{ int.strip(',') }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="float-right">
                {% if g.user.id == user.id %}
                <div class="row">
                    <a class="user-btn btn btn-secondary btn-lg" href="/users/{{ user.id }}" role="button">Go Back</a>
                </div>
                {% if profile %}
                <div class="row">
                    <a class="user-btn btn btn-primary btn-lg" href="/users/profile/edit/{{ user.id }}"
                        role="button">Edit
                        Profile</a>
                </div>
                <div class="row">
                    <a class="user-btn btn btn-info btn-lg" href="/users/child-profile/{{ user.id }}/new"
                        role="button">Create Child Profile</a>
                </div>
                <div class="row">
                    <a class="user-btn btn btn-success btn-lg" href='/users/profile/{{ user.id }}/recipes'
                        role="button">Get Recipes Now!</a>
                </div>
                {% endif %}
                {% elif g.user %}
                {% if g.user.is_following(user) %}
                <div class="row">
                    <form method="POST" action="/users/unfollow/{{ user.id }}">
                        <button class="user-btn btn btn-danger btn-lg">Stop Following</button>
                    </form>
                </div>
                {% else %}
                <div class="row">
                    <form method="POST" action="/users/follow/{{ user.id }}">
                        <button class="user-btn btn btn-primary btn-lg">Follow</button>
                    </form>
                </div>
                {% endif %}
                <div class="row">
                    <a class="user-btn btn btn-success btn-lg" href='/users/{{ user.id }}/profile/recipes'
                        role="button">Get Recipes Now!</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% else %}
    {% if g.user == user %}
    <div class="container">
        <h1 class="display-1">Create Profile</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for msg in get_flashed_messages() %}
                <div class="bg-success text-light">{{ msg }}</div>
                {% endfor %}
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {% for field in form
                    if field.widget.input_type != 'hidden' %}
                    <div class="form-group text-serif">
                        {{ field.label }}
                        {{ field(class="form-control") }}
                        {% for err in field.errors %}
                        <small class="form-text text-danger">
                            {{ err }}
                        </small>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="user-btn btn btn-success btn-large">Go!</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>


{% endblock %}