{% extends 'base.html' %}


{% block title %}{{ user.username }}{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container px-4">
                <div class="row gx-5">
                    <img src="{{ user.image }}" class="user-img rounded float-start" alt="{{ user.username }}"
                        width="200px" height="auto">
                    {% if g.user.id == user.id %}
                    {% if following %}
                    {% for user in following %}
                    <div class="col">
                        <div class="recipe-box">
                            <div class="p-3 border bg-light">
                                <div class="card-inner">
                                    <div class="card-contents">
                                        <a href="/users/{{ user.id }}" class="card-link">
                                            <img src="{{ user.image }}" alt="Image for {{ user.username }}"
                                                class="card-image" width="150px" height="auto">
                                            <p>{{ user.username }}</p>
                                        </a>
                                        <form method='POST' action="/users/unfollow/{{ user.id }}">
                                            <button class="user-btn btn btn-outline-danger btn-sm">Stop
                                                following</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% else %}
                    {% if followers %}
                    {% for user in followers %}
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div class="card-inner">
                                <div class="card-contents">
                                    <a href="/users/{{ user.id }}" class="card-link">
                                        <img src="{{ user.image }}" alt="Image for {{ user.username }}"
                                            class="card-image" width="150px" height="auto">
                                        <p>@{{ user.username }}</p>
                                    </a>
                                    <form method='POST' action="/users/unfollow/{{ user.id }}">
                                        <button class="btn btn-outline-danger btn-sm">Stop following</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <p class="display-2">{{ user.username }}</p>
            <ul>
                <li>
                    <a class='display-6' href="/users/profile/{{ user.id }}">{{ user.username }}'s Profile</a>
                </li>
                <ul>
                    {% for cp in child_profiles %}
                    <li>
                        <a class='display-6' href="/profiles/child/{{ cp.id }}">{{ cp.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </ul>
            <ul>
                {% for fr in favorite_recipes %}
                <div class="recipe-box">
                    <div class="p-3 border bg-light">
                        <img src="{{ fr.image }}" class="mr-3" alt="Photo of {{ fr.name }}" width="300px" height="auto">
                    </div>
                    <div class="p-3 border bg-light">
                        <a href="/recipes/{{ fr.api_recipe_id }}"><span>{{ fr.name }}</span></a>
                    </div>
                    <div class="p-3 border bg-light">
                        <p class="text-success">I rated this a {{ fr.rating }}!</p>
                    </div>
                    <div class="p-3 border bg-light">
                        <p>{{ fr.review }}</p>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <div>
                <div class="row">
                    <a href="/users" class="user-btn btn btn-primary">View All Users</a>
                </div>
            </div>
            {% if g.user.id == user.id %}
            <div class="row">
                <a href="/users/edit/{{ user.id }}" class="user-btn btn btn-outline-success">Edit Account</a>
            </div>
            <div class="row">
                <form method="POST" action="/users/delete/{{ user.id }}" class="form-inline">
                    <button class="user-btn btn btn-outline-danger">Delete Account</button>
                </form>
            </div>
            {% elif g.user %}
            {% if g.user.is_following(user) %}
            <div class="row">
                <form method="POST" action="/users/unfollow/{{ user.id }}">
                    <button class="user-btn btn btn-primary">Stop Following</button>
                </form>
            </div>
            {% else %}
            <div class="row">
                <form method="post" action="/users/follow/{{ user.id }}">
                    <button class="user-btn btn btn-primary">Follow</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
            <br>
            <br>
            {% if g.user.id == user.id %}
            {% if msgs %}
            {% for msg in msgs %}
            <div class="msg-box">
                <div class="p-3 border bg-light">
                    <p>{{ msg.username }} has shared a recipe with you.</p>
                </div>
                <div class="p-3 border bg-light">
                    <a href="/recipes/{{ msg.api_recipe_id }}">{{ msg.recipe_name }}</a>
                </div>
                <div class="p-3 border bg-light">
                    <p>{{ msg.message }}</p>
                </div>
                <div class="p-3 border bg-light">
                    <a href="/messages/reply/{{ msg.id }}" class="user-btn btn btn-primary btn-sm"
                        role="button">Reply</a>
                    <a href="/messages/delete/{{ msg.id }}" class="user-btn btn btn-danger btn-sm"
                        role="button">Delete</a>
                </div>
                {% if msg.replies %}
                {% for reply in msg.replies %}
                <div class="p-3 border bg-light">
                    <p>{{ reply.message }}</p>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if replies %}
                {% for reply in replies %}
                <div class="p-3 border bg-light">
                    <p>{{ reply.sender_name }} replied to your share of this recipe:</p>
                    <p>{{ reply.recipe_name }}</p>
                    <p>{{ reply.message }}</p>
                    <a href="/replies/delete/{{ reply.id }}" class="user-btn btn btn-danger btn-sm"
                        role="button">Delete</a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}